.title {
  font-size: 30px;
  text-align: center;
  padding-top: 20%;
  letter-spacing: 35px;
  word-spacing: -20px;

  margin: 0;
}

a:link {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: row;
  width: 98%;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
  padding-top: 8%;
  margin: 0;
  position: relative;
}

.flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center space-between;
  width: 30%;
  border-radius: 1%;
  margin: 5px;
  max-height: 250px;
  margin-bottom: 25px;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  color: black;
  margin-bottom: 50px;
  border-radius: 2%;
  min-height: 300px;
}

.image {
  width: 200px;
  height: 325px;
  padding-top: 10px;
}
