.image {
  width: 100%;
  height: 500px;
  opacity: 0.9;
}

.imageProfile {
  width: 80px;
  margin: 10%;
  padding-top: 10%;
}

.imageBook {
  width: 80px;
  margin: 10%;
  padding-top: 10%;
}

.imagePen {
  width: 80px;
  margin: 10%;
  padding-top: 10%;
}

.imageGrowth {
  width: 80px;
  margin: 10%;
  padding-top: 10%;
}

.container {
  padding-top: 3%;
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center space-between;
  width: 22%;
  align-items: center;
  text-align: center;
  margin: 5px;
  border: 1px solid black;
  border-radius: 1%;
}

.content {
  letter-spacing: 2px;
}

.paragraph {
  letter-spacing: 1px;
  word-spacing: 2px;
  padding-top: 5%;
  margin: 10px;
}
